services:
  ytmusicdownloader:
    build:
      context: .
      dockerfile: Dockerfile
    image: ytmusicdownloader:newfront
    ports:
      - "8000:8000"
    volumes:
      - ./config:/config
      - ./data:/data
    restart: unless-stopped
    environment:
      - TZ=Europe/Paris
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/api/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3