@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pas d'@apply global pour éviter les erreurs de scan JIT.
   Toutes les classes utilitaires sont utilisées directement dans le JSX ou dans index.html */
